{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<title>Spells</title>
{% endblock %}

{% block body %}

    <div class="title">
        <h1>Spells</h1>
    </div>


    <div class="wrap">
        <form method="GET">
            <div class="search"> 
                <input type="text" class="searchTerm" placeholder="Write the exact spell name..." name="search_query">
                <button type="submit" class="searchButton">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="magnifying-glass"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="svg-inline--fa fa-solid fa-magnifying-glass fa-w-20 fa-5x"
                    >
                        <g class="fa-group">
                        <path
                            fill="currentColor"
                            d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                            class="fa-secondary"
                        ></path>
                        <path
                            fill="currentColor"
                            d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                                class="fa-primary"
                        ></path>
                        </g>
                    </svg>
                </button>
            </div>
        </form>
    </div>

    {% if search_query %}
    {% if  spell_not_found %}
        <div class="search-not-found">
            <h1>"{{ search_query }}" wasn't found...</h1>
            <h3>Would you like to add it?</h3><br>
            <a href="{{url_for('addmanualspell')}}" style="font-family: 'Macondo';">Add New Spell</a>
        </div>
    {% else %}
        <div class="spell">
            <h1>{{ spell_json['name'] }}</h1>
            <div class="spell-full-desc">
                <div class="spell-full-desc-body left">
                    <p><strong>School: </strong>{{ spell_json['school']['name'] }}</p>
                    <p><strong>Level: </strong>{{ spell_json['level'] }}</p>
                    <p><strong>Concentration: </strong>{{ spell_json['concentration'] }}</p>
                    <p><strong>Ritual: </strong>{{ spell_json['ritual'] }}</p>
                    <p><strong>Range: </strong>{{ spell_json['range'] }}</p>
                    <p><strong>Cast Time: </strong>{{ spell_json['casting_time'] }}</p>
                    <p><strong>Duration: </strong>{{ spell_json['duration'] }}</p>
                    <p><strong>Components: </strong>{% for comp in spell_json['components'] %}{{ comp }}, {% endfor %}</p>
                    <p><strong>Material: </strong>{{ spell_json['material'] }}</p>
                    <p><strong>Classes: </strong>{% for cla in spell_json['classes'] %}{{ cla['name'] }}, {% endfor %}</p>
                </div>
                <div class="spell-full-desc-body right">
                    <h3>Description:</h3>
                    {% for desc in spell_json['desc'] %}
                    <p>{{ desc }}</p>
                    {% endfor %}

                    {% if spell_json['higher_level'] %}
                    <h4>Higher Level:</h4>
                    {% for hl in spell_json['higher_level'] %}
                    <p>{{ hl }}</p>
                    {% endfor %}
                    {% endif %}

                    {% if spell_json['damage'] %}
                        <p><strong>Damage: </strong>{{ spell_json['damage']['damage_at_slot_level'] }}</p>
                        <p><strong>Damage Type: </strong>{{ spell_json['damage']['damage_type']['name'] }}</p>
                    {% endif %}

                    {% if spell_json['dc'] %}
                        <p><strong>Dc type : </strong>{{ spell_json['dc']['dc_type']['name'] }}</p>
                    {% endif %}

                    {% if spell_json['area_of_effect'] %}
                        <p><strong>AoE : </strong>{{ spell_json['area_of_effect'] }}</p>
                    {% endif %}

                    {% if spell_json['heal_at_slot_level'] %}
                        <p><strong>Heal : </strong>{{ spell_json['heal_at_slot_level'] }}</p>
                    {% endif %}

                    
                </div>
            </div>
            {% if no_assoc %}
            <br><br><br>
            <a class="btn-add-spell" href="{{url_for('addspelltochar')}}?spell_index={{spell_json['index']}}">Add spell to character</a>
            {% endif %}
        </div>

    {% endif %}
    {% endif %}

{% endblock %}